@import ./mixin
@import ./fn

$main-color-darker: #2C3333
$main-color-dark: #2E4F4F
$main-color: #0E8388
$main-color-light: #CBE4DE

@font-face 
  font-family: Kode_Mono
  src: url(../assets/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf)


body,
* 
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: Kode_Mono , monospace

a 
  text-decoration: none
  color: currentcolor

main
  background: $main-color-darker
  height: auto
  position: relative
  min-width: 350px
  @include lg
    height: 100vh

#toggle-main-content
  position: absolute
  z-index: 10
  right: 1rem
  top: 1rem
  color: $main-color-light
  font-size: 3rem
  text-shadow: fnTextShadown($main-color-dark,$main-color-dark,$main-color-darker)
  cursor: pointer
  display: none
  &:hover
    color: $main-color
  @include lg
    display: block

.display-none
  display: none !important


#main-bg
  position: absolute
  height: 100%
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  align-content: space-evenly
  overflow: hidden
  .el
    border: 5px transparent solid
    @include lg
      display: flex
      flex-direction: column
      justify-content: center
      cursor: pointer
      & .child
        transition: color 1s, text-shadow 1s
        color: transparent
        text-align: center
      &:hover
        & .child
          transition: color 0s
          text-align: center
          text-shadow: fnTextShadown($main-color,$main-color-dark,$main-color-darker)
          color: $main-color-light

.container
  margin: auto
  display: flex
  @include xs
    max-width: $screen-xs-min
  @include sm
    max-width: $screen-sm-min
  @include md
    max-width: $screen-md-min
  @include lg
    max-width: $screen-lg-min
    height: 100%
    align-items: center
  @include xl
    max-width: $screen-xl-min
  @include xxl
    max-width: $screen-xxl-min

.main-view 
  padding: 1rem
  display: flex
  flex-direction: column
  gap: 1rem
  padding: 25px 1rem
  &::-webkit-scrollbar
    width: 5px
    background: $main-color
  &::-webkit-scrollbar-thumb
    background-color: $main-color-light
    border-radius: 1rem 

  @include lg
    height: 100vh
    max-height: 640px
    display: grid
    grid-template-columns: repeat(11, minmax(0, 1fr))
    align-items: center
    justify-content: center
  @include xl
    max-height: 800px


.left-content 
  perspective: 32rem
  height: 750px
  grid-column: span 4/ span 4
  @include lg
    height: 100%
  .content
    background: $main-color-light
    height: 100%
    width: 100%
    border-radius: 2rem
    transform-style: preserve-3d
    display: flex
    flex-direction: column
    box-shadow:  0px 5px 10px 0px $main-color
    -webkit-box-shadow:  0px 5px 10px 0px $main-color
    -moz-box-shadow:  0px 5px 10px 0px $main-color
    @include sm
      flex-direction: row
    @include lg
      transform: rotateY(5deg) translateX(15px)
      flex-direction: column
    .top-content
      flex: 1
      display: flex
      flex-direction: column
      @include xs
        height: 100%
      .avatar
        background: url(../assets/avatar.webp) center no-repeat
        background-size: cover
        flex: 1
      .top
        color: $main-color
        text-align: center
        display: none
        @include sm
          display: block
        @include lg
          display: none
        .name
          font-weight: bold
        .position
          font-weight: lighter
          font-size: 1.3rem
        .contact-list
          font-size: 2.5rem
    .info
      color: $main-color
      text-align: center
      display: flex
      flex-direction: column
      justify-content: space-between
      .top
        @include sm
          display: none
        @include lg
          display: block
        .name
          font-weight: bold
        .position
          font-weight: lighter
          font-size: 1.3rem
        .contact-list
          font-size: 2.5rem
          display: flex 
          justify-content: center
          a
            display: flex
            height: fit-content
            width: fit-content
            padding: 0.5rem
            border-radius: 2.5rem
            transition: all 0.5s
            &:hover
              background: $main-color
              color: $main-color-light
              cursor: pointer
      .bottom
        display: grid
        grid-template-columns: repeat(1, minmax(0,1fr))
        @include sm
          writing-mode: vertical-rl
          height: 100%
        @include lg
          grid-template-columns: repeat(1, minmax(0,1fr))
          height: auto
          writing-mode: horizontal-tb
        @include xl
          grid-template-columns: repeat(2, minmax(0,1fr))
        font-size: 1.7rem
        .button
          border: 1px solid
          padding: 1rem 0
          transition: background 0.5s
          &:hover
            border-color: $main-color
            background: $main-color
            color: $main-color-light
            cursor: pointer
        :last-child
          border-radius: 0 0 2rem 2rem
        @include sm
          :first-child
            border-radius: 0 2rem 2rem 0
          :last-child
            border-radius: 0
          .button
            font-size: 2rem
            padding: 0 1rem
        @include lg
          :first-child
            border-radius: 0
          :last-child
            border-radius: 0 0 2rem 2rem
          .button
            font-size: 1.3rem
            padding: 0.8rem 0
        @include xl
          :first-child
            border-radius: 0 0 0 2rem
          :last-child
            border-radius: 0 0 2rem 0
          .button
            font-size: 1.3rem
            padding: 1.2rem 0
        @include xxl
          .button
            font-size: 1.6rem
            padding: 0.8rem 0

.right-content
  opacity: 0.95
  z-index: 10
  background: $main-color-dark
  color: $main-color-light
  border-radius: 2rem
  grid-column: span 7/ span 7
  overflow: hidden
  box-shadow:  0px 5px 10px 0px $main-color
  -webkit-box-shadow:  0px 5px 10px 0px $main-color
  -moz-box-shadow:  0px 5px 10px 0px $main-color
  height: 96%
  .scoll-view
    overflow-x: height 
    height: 100%
    @include lg 
      overflow-y: scroll
      &::-webkit-scrollbar
        width: 5px
        background: $main-color
      &::-webkit-scrollbar-thumb
        background-color: $main-color-light
        border-radius: 1rem 
    .view
      line-height: 2rem
      padding: 1rem 1.5rem
      .title-section
        padding: 1rem 0
        text-shadow: fnTextShadown($main-color,$main-color-dark,$main-color-darker)
      .about
        p
          text-align: justify
        gap: 2rem
        display: grid
        grid-template-columns: repeat(1, minmax(0,1fr))
        @include md
          grid-template-columns: repeat(2, minmax(0,1fr))
        .skills
          display: flex
          flex-direction: column
          gap: 0.5rem
          div
            display: flex
            flex-direction: column
            .title
              font-weight: bold
              background: $main-color
              width: fit-content
              color: $main-color-light
              padding: 0.25rem 0.5rem
              border-radius: 1rem
          img
            margin-top: 1rem 
            height: 35px*3
            @include xl
              height: 50px*3
      .experiences
        .company-name
          display: flex
          justify-items: center
          gap: 1rem
          // margin-left: 1rem
          @include md
            margin-left: 4rem
          a 
            height: auto
            display: flex
            flex-direction: column
            justify-content: center
          img
            height: 35px
            width: 35px
          h3.name
            background-color: $main-color
            border-radius: 1rem
            padding: 0.25rem 0.5rem
            width: fit-content
            transition: all 0.5s
            &:hover
              color: $main-color
              background: $main-color-light
        .company
          padding: 0.5rem 0
        .projects
          cursor: pointer
          font-weight: bold
          width: fit-content
          &:hover
            text-shadow: fnTextShadown($main-color,$main-color-dark,$main-color-darker)
        .company,.list-project,.project-info
          display: flex
          flex-direction: column
          gap: 0.3rem
        .list-project 
          .project-info
            border-bottom: 2px solid
            padding: 0.5rem 0
            border-left: 4px  $main-color-light dashed
            &>div
              padding-left: 2rem
              @include lg
                padding-left: 4rem
            .name
              font-size: 1.35rem
              display: list-item
              width: fit-content  
              border-radius: 4rem
              padding: 0.25rem 0.5rem
              margin-left: 2rem
              &.name-link:hover
                @include sm
                  color: $main-color
                  background: $main-color-light
        .position,.list-project .project-info div
            display: grid
              grid-template-columns: repeat(1, minmax(0,1fr))
            .title
              font-weight: bold
            span:nth-child(2)
              padding-left: 1rem
              @include lg
                grid-column: span 3/ span 3
            
            ul
              padding-left: 2rem
              @include xxl
                grid-column: span 3/ span 3
